@model UtentiListViewModel

	<div class="row">
    <div class="col-md-8">
        <h1>@ViewData["Title"]</h1>
    </div>
    <div class="col-md-4 d-flex align-items-center">
        <form asp-controller="Utenti" asp-action="Accesso" method="get">
            <div class="input-group">
                <input type="text" name="search" class="form-control" placeholder="Cerca..." aria-label="Cerca..." value="@Model.Ricerca.Search" aria-describedby="search-button">
                <div class="input-group-append">
                    <button class="input-group-text" id="search-button"><i class="fas fas fa-search"></i></button>
                </div>
            </div>
        </form>
    </div>
</div>

<br>
<div class="row">
	<div class="container">
		<h3 class="text-center">List of Users</h3>
		<hr>
		<div class="container text-left">
			<a class="btn btn-success" asp-action="Index" asp-controller="Home">Add New User</a>



		</div>
		<br>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>ID</th>
					<th>Name</th>
					<th>Email</th>
					<th>Country</th>
					<th>Password</th>
				</tr>
			</thead>
			<tbody>

			@foreach (UtentiViewModel utente in Model.Utenti)
				{
					<dati-utente utente="@utente"></dati-utente>
				}

			</tbody>
		</table>
	</div>
</div>
