

<div class="text-center">
    <form asp-controller="Login" asp-action="LoginUtente" method="post" enctype="multipart/form-data">        

        <fieldset class="form-group">
            <label>User Email</label>
            <input type="text" value="" class="form-control" name="email">
        </fieldset>        

		<fieldset class="form-group">
            <label>password</label>
            <input type="text" value="" class="form-control" name="password">
        </fieldset>       
        

        <button type="submit" class="btn btn-success">Accedi</button>
    </form>